a[href^="https://www.google.com/"]{
    color: green;
}
a[target="_blank"]{
    color: red;
}
.red{
    color: red;
}
.blue{
    color: blue;
}

.new::after {
    content: "-NEW";
    color: yellow;
}
.ita:hover {
   font-style: italic;
}